<div class="login-container">
    <div class="container">
        <form class="form-signin">
            <h2 class="login-heading theme-color">Reset Password</h2>
            <h5 class="login-heading theme-color">Enter details below to update your password</h5>
            <md-input-container class="md-block">
                <input ng-model="user.email" type="text" placeholder="OTP" ng-required="true">
            </md-input-container>
            <md-input-container class="md-block">
                    <input ng-model="user.email" type="password" placeholder="Password" ng-required="true">
                </md-input-container>
                <md-input-container class="md-block">
                        <input ng-model="user.email" type="password" placeholder="Confirm Password" ng-required="true">
                    </md-input-container>
            <div layout="column">
                <md-button class="md-raised md-primary">Change Password</md-button>
            </div>
        </form>
    </div>
</div>